name: On Release, Build release zip

on:
  release:
    types: [published]

jobs:
  build:
    name: Build release zip
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build plugin # Remove or modify this step as needed
        run: |
          composer install --no-dev

      - name: Archive Release
        uses: thedoctor0/zip-release@b57d897cb5d60cb78b51a507f63fa184cfe35554 #0.7.6
        with:
          type: 'zip'
          filename: 'wp-loupe.zip'
          exclusions: '*.git* .editorconfig composer* *.md package.json package-lock.json'

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b #v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: wp-loupe.zip
          tag_name: ${{ github.event.release.tag_name }}
